<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8f809f">  <td>21/03/08 13:06:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddLead.Login()[pri:0, instance:CRM.houzquest.AddLead@192c3f1e]">Login</td> 
  <td>main@1810899357</td>   <td></td> </tr>
<tr bgcolor="8f809f">  <td>21/03/08 13:06:56</td>   <td>19065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddLead.addUser(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:CRM.houzquest.AddLead@192c3f1e]">addUser</td> 
  <td>main@1810899357</td>   <td></td> </tr>
<tr bgcolor="8f809f">  <td>21/03/08 13:07:16</td>   <td>39220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddLead.addUser(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:CRM.houzquest.AddLead@192c3f1e]">addUser</td> 
  <td>main@1810899357</td>   <td></td> </tr>
<tr bgcolor="8f809f">  <td>21/03/08 13:07:38</td>   <td>60615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddLead.addUser(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:CRM.houzquest.AddLead@192c3f1e]">addUser</td> 
  <td>main@1810899357</td>   <td></td> </tr>
<tr bgcolor="8f809f">  <td>21/03/08 13:06:36</td>   <td>-1239</td> <td>&nbsp;</td><td title="&gt;&gt;AddLead.initialize()[pri:0, instance:CRM.houzquest.AddLead@192c3f1e]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1810899357</td>   <td></td> </tr>
<tr bgcolor="8f809f">  <td>21/03/08 13:07:58</td>   <td>80334</td> <td>&nbsp;</td><td title="&lt;&lt;AddLead.teardown()[pri:0, instance:CRM.houzquest.AddLead@192c3f1e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1810899357</td>   <td></td> </tr>
</table>
