<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6f8775">  <td>21/03/19 16:06:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SavedSearchNavigation.initialize()[pri:0, instance:CRM.houzquest.SavedSearchNavigation@79efed2d]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1472682156</td>   <td></td> </tr>
<tr bgcolor="6f8775">  <td>21/03/19 16:06:15</td>   <td>1057</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SavedSearchNavigation.testSavedSearchNavigation()[pri:0, instance:CRM.houzquest.SavedSearchNavigation@79efed2d]">testSavedSearchNavigation</td> 
  <td>main@1472682156</td>   <td></td> </tr>
<tr bgcolor="6f8775">  <td>21/03/19 16:06:46</td>   <td>31962</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SavedSearchNavigation.updateLeadRating()[pri:0, instance:CRM.houzquest.SavedSearchNavigation@79efed2d]">updateLeadRating</td> 
  <td>main@1472682156</td>   <td></td> </tr>
<tr bgcolor="6f8775">  <td>21/03/19 16:06:55</td>   <td>41294</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SavedSearchNavigation.tearDown()[pri:0, instance:CRM.houzquest.SavedSearchNavigation@79efed2d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1472682156</td>   <td></td> </tr>
</table>
